{{page-title "Legend"}}

{{outlet}}

{{! The following component displays Ember's default welcome message. }}
{{!-- <WelcomePage /> --}}
{{!-- <WelcomePage /> --}}
{{! Feel free to remove this! }}
<h1>Welcome to the Ember.js Application</h1>
<p>This is an example application to demonstrate Ember.js features.</p>
<p>Try using a link!</p>
{{!-- <p>
    {{#link-to "about"}}About{{/about}}
</p> --}}
<p>Links above</p>